Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
birdy==0.2
itsdangerous==0.24
oauthlib==0.6.3
pyflakes==0.8.1
requests==2.3.0
requests-oauthlib==0.4.1
sockjs-tornado==1.0.0
tornado==3.2.2
wsgiref==0.1.2
