<!DOCTYPE html>

<html>
    <head>
        <title>Twitter Magic</title>
    </head>

    <body>

        <!-- ko foreach: tweets -->
        <blockquote class="twitter-tweet" lang="en">
            <p data-bind="text: text">Text...</p>
            &mdash; <!-- ko text: user.name --><!-- /ko --> (@<!-- ko text: user.screen_name --><!-- /ko -->)
            <a data-bind="attr: { href: 'https://twitter.com/' + user.screen_name + '/statuses/' + id_str }, text: created_at">...</a>
        </blockquote>
        <!-- /ko -->

        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
        <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script type="text/javascript">

function Model() {
    var self = this;
    self.tweets = ko.observableArray([]);
}
var model = new Model();

var sock = new SockJS('/search');
sock.onopen = function() {
    console.log('SockJS open');
};

sock.onmessage = function(e) {
    var tweet = JSON.parse(e.data);
    model.tweets.push(tweet);
    while (model.tweets().length > 20) {
        model.tweets.shift();
    }
    twttr.widgets.load();
};

sock.onclose = function() {
    console.log('SockJSclose');
};

ko.applyBindings(model);

        </script>

    </body>
</html>



