<!DOCTYPE html>

<html>
    <head>
        <title>Twitter Magic</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container-fluid">

            <!-- ko foreach: rows -->
                <div class="row">

                <!-- ko foreach: cells -->
                    <div class="col-lg-3">
                        <img data-bind="attr { src: user.profile_image_url }" width="48" height="48" class="pull-left" style="padding-right: 1em">
                        <div data-bind="text: user.name">Mathieu Fenniak</div> <div data-bind="text: '@' + user.screen_name">mfenniak</div>
                        <p style="clear: both; font-size: 125%" data-bind="text: text">Text...</p>
                    </div>
                <!-- /ko -->

                </div>
            <!-- /ko -->

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
        <script type="text/javascript">

function Model() {
    var self = this;
    self.tweets = ko.observableArray([]);
    self.rows = ko.computed(function() {
        var row_width = 4;
        var rows = [];
        var row = {"cells": []};
        self.tweets().forEach(function(t) {
            row.cells.push(t);
            if (row.cells.length == row_width) {
                rows.push(row);
                row = {"cells": []};
            }
        });
        if (row.cells.length != 0) {
            rows.push(row);
        }
        return rows;
    });
}
var model = new Model();

var sock = new SockJS('/search');
sock.onopen = function() {
};

sock.onmessage = function(e) {
    var tweet = JSON.parse(e.data);
    model.tweets.unshift(tweet);
    while (model.tweets().length > 16) {
        model.tweets.pop();
    }
};

sock.onclose = function() {
};

ko.applyBindings(model);

        </script>

    </body>
</html>



