<!DOCTYPE html>

<html>
    <head>
        <title>Twitter Magic</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <style type="text/css">

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

        </style>
    </head>

    <body style="padding-top: 1em">

        <div class="container-fluid">
            <!-- ko foreach: rows -->
                <div class="row" style="padding-bottom: 1em">

                <!-- ko foreach: cells -->
                    <div class="col-lg-3">
                        <img data-bind="attr { src: user.profile_image_url }" width="48" height="48" class="pull-left" style="padding-right: 1em">
                        <div data-bind="text: user.name">Mathieu Fenniak</div> <div data-bind="text: '@' + user.screen_name">mfenniak</div>
                        <p style="clear: both; font-size: 16pt" data-bind="text: text">Text...</p>
                    </div>
                <!-- /ko -->

                </div>
            <!-- /ko -->
        </div>

        <div id="footer">
          <div class="pull-right" style="padding-top: 5px; padding-right: 1em">
            <div>
                <span id="sparkline">Loading...</span>

                <span data-bind="text: Math.round(tweets_per_minute())">1000</span> tweets/min (<span data-bind="text: Math.round(displayed_tweets_per_minute())">10</span> tweets/min filtered)

                <span data-bind="visible: state() == 'connected'" class="glyphicon glyphicon-ok"></span>
                <span data-bind="visible: state() == 'disconnected'" class="glyphicon glyphicon-remove"></span>
                <span data-bind="visible: state() == 'connecting'" class="glyphicon glyphicon-signal"></span>

                <a href="{{ url_for('reconfigure') }}"><span class="glyphicon glyphicon-cog"></span></div>
          </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
        <script type="text/javascript">

function Model() {
    var self = this;
    self.tweets = ko.observableArray([]);
    self.tweets_per_minute = ko.observable(0);
    self.tweets_per_minute_history = [];
    self.displayed_tweets_per_minute = ko.observable(0);
    self.state = ko.observable("connecting");
    self.rows = ko.computed(function() {
        var row_width = 4;
        var rows = [];
        var row = {"cells": []};
        self.tweets().forEach(function(t) {
            row.cells.push(t);
            if (row.cells.length == row_width) {
                rows.push(row);
                row = {"cells": []};
            }
        });
        if (row.cells.length != 0) {
            rows.push(row);
        }
        return rows;
    });
}
var model = new Model();

function reconnect() {
    model.state("connecting");

    var sock = new SockJS('/search');
    sock.onopen = function() {
        model.state("connected");
    };

    sock.onmessage = function(e) {
        var msg = JSON.parse(e.data);
        if (msg.action == "tweet") {
            var tweet = msg.tweet;
            model.tweets.unshift(tweet);
            while (model.tweets().length > 16) {
                model.tweets.pop();
            }
        } else if (msg.action == "stats") {
            model.tweets_per_minute(msg.tweets_per_minute);
            model.displayed_tweets_per_minute(msg.displayed_tweets_per_minute);
            model.tweets_per_minute_history.push(msg.tweets_per_minute);
            while (model.tweets_per_minute_history.length > 20) {
                model.tweets_per_minute_history.shift();
            }
            $('#sparkline').sparkline(model.tweets_per_minute_history, { width: model.tweets_per_minute_history.length*2, tooltipSuffix: ' tweets per min' });
        }
    };

    sock.onclose = function() {
        model.state("disconnected");
        setTimeout(reconnect, 5000);
    };
}

reconnect();
ko.applyBindings(model);

        </script>

    </body>
</html>



