<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Twitter Magic</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <style type="text/css">
        </style>
    </head>

    <body style="padding-top: 1em">

        <div class="container">
            <form role="form" method="POST">
                <div class="form-group">
                    <label for="searchTerms">Search terms (comma-separated)</label>
                    <input class="form-control" id="searchTerms" name="searchTerms" placeholder="Enter email" value="{{ search_targets|join(',') }}">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="languageEnglish" {% if english_only %}checked{% endif %}>
                        Only English Tweets
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="filterLevel" id="filterLevelNone" value="none" {% if filter_level == "none" %}checked{% endif %}>
                        No filtering
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="filterLevel" id="filterLevelLow" value="low" {% if filter_level == "low" %}checked{% endif %}>
                        Filter level LOW
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="filterLevel" id="filterLevelMedium" value="medium" {% if filter_level == "medium" %}checked{% endif %}>
                        Filter level MEDIUM
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="filterLevel" id="filterLevelHigh" value="high" {% if filter_level == "high" %}checked{% endif %}>
                        Filter level HIGH
                    </label>
                </div>
                <p>
                    <button type="submit" class="btn btn-primary btn-lg">Save Settings</button>
                </p>
            </form>

            <p><a href="{{ url_for('index')}}">Back to Tweets</a></p>
        </div>

    </body>
</html>
